<a href="https://colab.research.google.com/github/Aarushpyhton/Aarush/blob/main/Aarush_First_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
print("how tall are you")
num=input()
print("i am", num, "feet tall")

how tall are you
5.6
i am 5.6 feet tall

In [95]:
print("addition calculator")
num1= int(input ("enter no"))
num2= int(input ("enter no"))
print("your answer is", num1+num2)

addition calculator
enter no 37
enter no 45
your answer is 82

In [96]:
print("multiplication calculator")
num1=int(input("enter no"))
num2=int(input("enter no"))
print("your answer is", num1*num2)

multiplication calculator
enter no 45
enter no 76
your answer is 3420

In [97]:
print("introduction")
num1= input("enter your name")
num2= input("enter your age")
print("my names is",num1, "and i am", num2, "years old")

introduction
enter your name aarush
enter your age 16
my names is  aarush and i am  16 years old

In [98]:
num=input("enter your age")
print("you are", num, "years old")

enter your age 16
you are  16 years old

In [99]:
num1=input("enter your name")
num2=int(input("enter your current age"))
print("hello", num1, ",5 years in future, you will be", num2+5, ("years old") )

enter your name aarush
enter your current age 16
hello  aarush ,5 years in future, you will be 21 years old